.notification {
  color: green;
  background: lightgray;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.notification .error {
  color: red;
}